In [1]:
import pandas as pd

In [3]:
#Json file path
purchase_data = 'purchase_data.json'

#Read Json
purchase_data_df = pd.read_json(purchase_data)

#print headers of columns in json
purchase_data_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [71]:
#Total Number of players 

#Show total members 
total_players = purchase_data_df.groupby("SN")["SN"].nunique()
total_players.count()

573

In [72]:
# Purchasing Analysis (Total)

#Number of Unique Items
items_df = purchase_data_df.groupby("Item Name")["Item Name"].nunique()
items_df.count()

179

In [73]:
#Average Purchase Price
average_price = purchase_data_df["Price"].mean()
round(average_price, 2)

2.93

In [32]:
#Total Number of Purchases
Total_Purchases = len(purchase_data_df)
Total_Purchases

780

In [36]:
#Total Revenue
Total_Revenue = purchase_data_df["Price"].sum()
round(Total_Revenue,2)

2286.33

In [38]:
#Creating a DataFrame for our summarized data above: 

Purchasing_Analysis = pd.DataFrame({"Number of Unique Items":[items_df], 
                                    "Average Purchase Price": [round(average_price,2)],
                                    "Total Number of Purchases":[Total_Purchases],
                                    "Total Revenue":[Total_Revenue]})
Purchasing_Analysis

,Average Purchase Price,Number of Unique Items,Total Number of Purchases,Total Revenue
0,2.93,Item Name Abyssal Shard ...,780,2286.33

In [42]:
# Counting the total amounts for gender ( Female, Male, Other/ Non-Disclosed):

gender_count = purchase_data_df.groupby("Gender")["SN"].nunique()
gender_count.head()

Gender
Female                   100
Male                     465
Other / Non-Disclosed      8
Name: SN, dtype: int64

In [43]:
#Calculating the Percentages for Females, Males and Other/ Non-Disclosed:
gender_percents = gender_count/573
round(gender_percents,2)

Gender
Female                   0.17
Male                     0.81
Other / Non-Disclosed    0.01
Name: SN, dtype: float64

In [47]:
#Creating a Data Frame for our Gender Demographics 
gender_demographics = pd.DataFrame({"Gender Count": gender_count, 
                                    "Gender Percentage %": round(gender_percents,2)})
gender_demographics

                        Gender Percentage %  Gender Count
Gender
Female                                 0.17           100
Male                                   0.81           465
Other / Non-Disclosed                  0.01             8

In [48]:
#Purchasing Analysis (Gender)

#Purchase Count - 

#The Total number of purchases for Female, Male and Other/Non-Disclosed: 

gender_purchases = purchase_data_df.groupby("Gender")["Item Name"]
gender_purchases.count()

Gender
Female                   136
Male                     633
Other / Non-Disclosed     11
Name: Item Name, dtype: int64

In [50]:
 #Average Purchase Price by Gender: 
gender_average = purchase_data_df.groupby("Gender")["Price"].mean()
round(gender_average,2)

Gender
Female                   2.82
Male                     2.95
Other / Non-Disclosed    3.25
Name: Price, dtype: float64

In [51]:
#Total Purchase Value by Gender: 
gender_purchase_total = purchase_data_df.groupby("Gender")["Price"].sum()
gender_purchase_total

Gender
Female                    382.91
Male                     1867.68
Other / Non-Disclosed      35.74
Name: Price, dtype: float64

In [53]:
#Normalized Total for Genders:
normalized_gender_total = gender_purchase_total/gender_count
round(normalized_gender_total,2)

Gender
Female                   3.83
Male                     4.02
Other / Non-Disclosed    4.47
dtype: float64

In [56]:
gender_analysis = pd.DataFrame({"Purchase Count":gender_purchases,
                                 " Average Purchase Price": round(gender_average,2),
                                " Total Purchase Value": gender_purchase_total,
                               "Normalized Totals": round(normalized_gender_total,2)})
gender_analysis

,Average Purchase Price,Total Purchase Value,Normalized Totals,Purchase Count
Gender,,,,
Female,2.82,382.91,3.83,"(Female, [Interrogator, Blood Blade of the Que..."
Male,2.95,1867.68,4.02,"(Male, [Bone Crushing Silver Skewer, Stormbrin..."
Other / Non-Disclosed,3.25,35.74,4.47,"(Other / Non-Disclosed, [War-Forged Gold Defle..."

In [58]:
#Age Demographics

#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
bins = [0,10,15,20,25,30,35,40,45]
age_ranges = ["<10","10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">=40"]

In [59]:
# First we have to cut the purchase data and place the ages into the bins we created above 
pd.cut(purchase_data_df["Age"], bins, labels=age_ranges)

0      35-39
1      20-24
2      30-34
3      20-24
4      20-24
5      15-19
6      15-19
7      25-29
8      20-24
9      30-34
10     20-24
11     15-19
12     25-29
13     20-24
14     35-39
15     20-24
16     20-24
17     20-24
18     25-29
19     30-34
20     20-24
21     10-14
22     10-14
23     15-19
24     10-14
25     20-24
26     25-29
27     30-34
28     10-14
29     15-19
       ...
750    20-24
751    25-29
752    10-14
753    15-19
754    30-34
755    20-24
756    20-24
757    30-34
758    15-19
759    15-19
760    25-29
761    25-29
762    35-39
763    25-29
764    20-24
765    10-14
766    20-24
767    15-19
768    20-24
769    20-24
770    20-24
771    20-24
772    10-14
773    20-24
774    20-24
775    20-24
776    10-14
777    15-19
778    15-19
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < >=40]

In [60]:
#Show our age range in our data frame: 
purchase_data_df["Age Range"]= pd.cut(purchase_data_df["Age"], bins, labels= age_ranges)
purchase_data_df.head()

,Age,Gender,Item ID,Item Name,Price,SN,Age Range
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,35-39
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,20-24
2,34,Male,174,Primitive Blade,2.46,Assastnya25,30-34
3,21,Male,92,Final Critic,1.36,Pheusrical25,20-24
4,23,Male,63,Stormfury Mace,1.27,Aela59,20-24

In [61]:
#Purchase Count by Age Range:
age_group_count = purchase_data_df.groupby("Age Range")["Item Name"]
age_group_count.count()

Age Range
<10       32
10-14     78
15-19    184
20-24    305
25-29     76
30-34     58
35-39     44
>=40       3
Name: Item Name, dtype: int64

In [62]:
#Average Purchase Price by Age Range:
age_group_average = purchase_data_df.groupby("Age Range")["Price"].mean()
round(age_group_average,2)

Age Range
<10      3.02
10-14    2.87
15-19    2.87
20-24    2.96
25-29    2.89
30-34    3.07
35-39    2.90
>=40     2.88
Name: Price, dtype: float64

In [63]:
# Total Purchase Value by Age Range:
age_group_total = purchase_data_df.groupby("Age Range")["Price"].sum()
age_group_total

Age Range
<10       96.62
10-14    224.15
15-19    528.74
20-24    902.61
25-29    219.82
30-34    178.26
35-39    127.49
>=40       8.64
Name: Price, dtype: float64

In [67]:
# Normalized Totals by Age Range:
normalized_age_total = age_group_total/total_players.count()
round(normalized_age_total,2)

Age Range
<10      0.17
10-14    0.39
15-19    0.92
20-24    1.58
25-29    0.38
30-34    0.31
35-39    0.22
>=40     0.02
Name: Price, dtype: float64

In [70]:
#Create a new DataFrame with our above analysis: 
age_range_df = pd.DataFrame({"Purchase Count": age_group_count,
                           "Average Purchase Price": round(age_group_average,2),
                           "Total Purchase Value": round(age_group_total,2),
                           "Normalized Totals": round(normalized_age_total,2)})
age_range_df

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
Age Range,,,,
<10,3.02,0.17,"(<10, [Darkheart, Butcher of the Champion, Woe...",96.62
10-14,2.87,0.39,"(10-14, [Phantomlight, Brimstone, Conqueror Ad...",224.15
15-19,2.87,0.92,"(15-19, [Sleepwalker, Mercenary Sabre, Alpha, ...",528.74
20-24,2.96,1.58,"(20-24, [Stormbringer, Dark Blade of Ending Mi...",902.61
25-29,2.89,0.38,"(25-29, [Interrogator, Blood Blade of the Quee...",219.82
30-34,3.07,0.31,"(30-34, [Primitive Blade, Expiration, Warscyth...",178.26
35-39,2.90,0.22,"(35-39, [Bone Crushing Silver Skewer, Bonecarv...",127.49
>=40,2.88,0.02,"(>=40, [Venom Claymore, Suspension, Despair, F...",8.64

In [75]:
# Top Spenders - Spending Analysis
players_purchase_count = purchase_data_df.groupby("SN").count()["Price"].rename("Purchase Count")
players_average_price = purchase_data_df.groupby("SN").mean()["Price"].rename("Average Purchase Price")
players_total = purchase_data_df.groupby("SN").sum()["Price"].rename("Total Purchase Value")

#Puting our data in a DataFrame: 

total_user_data = pd.DataFrame({"Purchase Coount": players_purchase_count,
                               "Average Purchase Price": round(players_average_price,2),
                               "Total Purchase Value": players_total})
total_user_data.head()

              Average Purchase Price  Purchase Coount  Total Purchase Value
SN
Adairialis76                    2.46                1                  2.46
Aduephos78                      2.23                3                  6.70
Aeduera68                       1.93                3                  5.80
Aela49                          2.46                1                  2.46
Aela59                          1.27                1                  1.27

In [76]:
#Sort our DataFrame to show the top 5 spenders:
top_five_spenders = total_user_data.sort_values("Total Purchase Value", ascending=False)
top_five_spenders.head()

             Average Purchase Price  Purchase Coount  Total Purchase Value
SN
Undirrala66                    3.41                5                 17.06
Saedue76                       3.39                4                 13.56
Mindimnya67                    3.18                4                 12.74
Haellysu29                     4.24                3                 12.73
Eoda93                         3.86                3                 11.58

In [82]:
# Total Items Purchase Analysis 
items_purchase_count = purchase_data_df.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
items_average_count = purchase_data_df.groupby(["Item ID", "Item Name"]).mean()["Price"].rename("Average Purchase Price")
items_value_total = purchase_data_df.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")

#Convert into our DataFrame using pandas

items_purchased = pd.DataFrame({"Purchase Count": items_purchase_count,
                               "Item Price": items_average_count,
                                "Total Purchase Value": items_value_total,
                               "Most Profitable":(items_purchase_count*items_value_total)})
items_purchased.head()

,,Item Price,Most Profitable,Purchase Count,Total Purchase Value
Item ID,Item Name,,,,
0,Splinter,1.82,1.82,1,1.82
1,Crucifer,2.28,36.48,4,9.12
2,Verdict,3.40,3.40,1,3.40
3,Phantomlight,1.79,1.79,1,1.79
4,Bloodlord's Fetish,2.28,2.28,1,2.28

In [84]:
#Most Popular Items: 
most_popular_items = items_purchased.sort_values("Purchase Count", ascending = False)
most_popular_items.head()

,,Item Price,Most Profitable,Purchase Count,Total Purchase Value
Item ID,Item Name,,,,
39,"Betrayal, Whisper of Grieving Widows",2.35,284.35,11,25.85
84,Arcane Gem,2.23,269.83,11,24.53
31,Trickster,2.07,167.67,9,18.63
175,Woeful Adamantite Claymore,1.24,100.44,9,11.16
13,Serenity,1.49,120.69,9,13.41

In [83]:
#Most Profitable Items: 
most_profitable_items = items_purchased.sort_values("Most Profitable", ascending = False)
most_profitable_items.head()

,,Item Price,Most Profitable,Purchase Count,Total Purchase Value
Item ID,Item Name,,,,
34,Retribution Axe,4.14,335.34,9,37.26
39,"Betrayal, Whisper of Grieving Widows",2.35,284.35,11,25.85
84,Arcane Gem,2.23,269.83,11,24.53
107,"Splitter, Foe Of Subtlety",3.61,231.04,8,28.88
115,Spectral Diamond Doomblade,4.25,208.25,7,29.75

In [ ]:
# As final considerations:

#Your script must work for both data-sets given.
#You must use the Pandas Library and the Jupyter Notebook.
#You must submit a link to your Jupyter Notebook with the viewable Data Frames.
#You must include an exported markdown version of your Notebook called  README.md in your GitHub repository.
#You must include a written description of three observable trends based on the data.
#See Example Solution for a reference on expected format.

In [ ]:
#NOTES
#Gender Demographicstotal_gender = attended_bootcamp["Gender"].count()
#male = purchase_data_df["Gender"].value_counts()['male']
#female = purchase_data_df["Gender"].value_counts()['female']
#total_gender = purchase_data_df["Gender"].count()
#male = purchase_data_df["Gender"].value_counts()['male']
#female = purchase_data_df["Gender"].value_counts()['female']
#print(f" Total: {total_gender}\n Male: {male}\n Female: {female}\n#Percentage and Count of Male Players")

#Percentage and Count of Female Players

#Percentage and Count of Other / Non-Disclosed